@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: normal;
}

@font-face {
  font-family: poppins;
  src: url(./assets/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: saira;
  src: url(./assets/fonts/saira/Saira-Regular.ttf);
}
