@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(/src/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: saira;
  src: url(/src/assets/fonts/Saira/static/Saira-Regular.ttf);
}
